@model Pipocao.ViewModels.MovieViewModel
@Scripts.Render("~/bundles/jquery")
@{
    ViewBag.Title = "Detalhe do Filme - " + @Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes - @Model.title</h2>

<fieldset>
    <legend>Detalhes de @Html.DisplayFor(model => model.title)</legend>
    <img src="@Model.poster_path" class="image-movie-list" />
    <div class="description-movie-list-detail">
        @Html.LabelFor(model => model.release_date)
        @{
            var date = Model.release_date.ToShortDateString();             
            @Html.DisplayFor(model => date)
        }

        @Html.LabelFor(model => model.original_language)
        @Html.DisplayFor(model => model.original_language)

        @Html.LabelFor(model => model.original_title)
        @Html.DisplayFor(model => model.original_title)

        @Html.LabelFor(model => model.genres)
        @{    
            var generos = String.Join(", ", Model.genres);   
            @Html.DisplayFor(model => generos)
        }

        @Html.LabelFor(model => model.adult)
        @{
            var adult = Pipocao.Helper.ValueConverter.boolToYesOrNo(Model.adult);             
            @Html.DisplayFor(model => adult)
        }

        @Html.LabelFor(model => model.overview)
        @Html.DisplayFor(model => model.overview)

        @Html.Label("Nota geral:")
        <p class="average-stars">
            <img src="../../Images/star_empty.png" alt="1" />
            <img src="../../Images/star_empty.png" alt="2" />
            <img src="../../Images/star_empty.png" alt="2" />
            <img src="../../Images/star_empty.png" alt="4" />
            <img src="../../Images/star_empty.png" alt="5" />
        </p>

        @Html.LabelFor(model => model.video)
        @{
            var video = Pipocao.Helper.ValueConverter.boolToYesOrNo(Model.video);             
            @Html.DisplayFor(model => video)
        }
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <h2>Deixe sua avaliação!</h2>
        <div class="comments">
            <p class="stars">
                <img src="../../Images/star_empty.png" alt="1" id="1" />
                <img src="../../Images/star_empty.png" alt="2" id="2" />
                <img src="../../Images/star_empty.png" alt="2" id="3" />
                <img src="../../Images/star_empty.png" alt="4" id="4" />
                <img src="../../Images/star_empty.png" alt="5" id="5" />
            </p>
            <input type="hidden" id="rate" value="0" />
            <input type="hidden" id="movieId" value="@Model.id" />
            <textarea id="comment"></textarea>
            <br /><br />
            <input type="button" id="btnComment" value="Enviar comentário" />
        </div>

        <a class="fb-share-button" 
            data-image="@Model.poster_path"
            data-title="@Model.title"
            data-desc="Melhor site de avaliações de filmes da Web"
            data-href="http://pipocao.apphb.com/Movie/Detail/@Model.id" data-layout="button_count"></a>
    }

    <h2>Comentários</h2>
    <div class="prev-comments">
        @if (Model.Comments.Count > 0)
        {
            foreach (var item in Model.Comments)
            {
            <div id="item-prev-commentary">
                Usuário: @item.User.Email
                Data do comentário: @item.ReviewDate.ToShortDateString()
                Nota: @item.Note.ToString()
                Comentário: @item.Commentary
            </div>            
            }
        }
        else
        {
            <h3>Seja o primeiro a comentar.</h3>
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Voltar para a Lista", "List")
</p>

<script>
    $(document).ready(function () {
        selectStars('@Model.AverageRate');

        $.each($(".comments > p img"), function (index, img) {
            $(this).click(function () {
                $(".comments > p img").attr("src", "../../Images/star_empty.png");
                $(this).attr("src", "../../Images/stars.png").prevAll("img").attr("src", "../../Images/stars.png");

                $("#rate").val(parseInt($(this).attr('id')));
            });
        });

        $("#btnComment").click(function () {
            var movieId = $("#movieId").val();
            var rate = $("#rate").val();
            var comment = $("#comment").val();

            if (rate <= 0)
                alert("Você deve dar uma nota.")
            else if (comment == "")
                alert("Você deve escrever um comentário.")
            else
                AddComment(movieId, rate, comment);
        });
    });

    function selectStars(val) {
        $.each($(".average-stars img"), function (index, img) {
            if (parseInt($(this).attr("alt")) <= val) {
                $(this).attr("src", "../../Images/stars.png");
            }
        });
    }

    function AddComment(movieId, rate, comment) {
        var data = JSON.stringify({ "movieId": movieId, "rate": rate, "comment": comment });

        $.ajax({
            type: "POST",
            url: '@Url.Action("SendComment")',
            contentType: 'application/json; charset=utf-8',
            data: data,
            dataType: 'json',
            success: function (data) {
                clearFields();
                if (!data.Success) {
                    alert(data.Message);
                } else {
                    location.reload();
                }
            },
            error: function (data) {
                console.log("DATA", data);
            }
        });
    }

    function clearFields() {
        $("#comment").val("");
        $("#rate").val(0);
    }
</script>

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '903219083095207',
            xfbml: true,
            version: 'v2.5',
            status: true
        });
    };

    (function (d, debug) { var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0]; if (d.getElementById(id)) { return; } js = d.createElement('script'); js.id = id; js.async = true; js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js"; ref.parentNode.insertBefore(js, ref); }(document, /*debug*/ false));

    function postToFeed(title, desc, url, image) {
        var obj = { method: 'feed', link: url, picture: image, name: title, description: desc };
        function callback(response) { }
        FB.ui(obj, callback);
    }

    var fbShareBtn = document.querySelector('.fb-share-button');
    fbShareBtn.addEventListener('click', function (e) {
        e.preventDefault();
        var title = fbShareBtn.getAttribute('data-title'),
            desc = fbShareBtn.getAttribute('data-desc'),
            url = fbShareBtn.getAttribute('href'),
            image = fbShareBtn.getAttribute('data-image');
        postToFeed(title, desc, url, image);

        return false;
    });
</script>
