@model IEnumerable<TMDBService.Models.Movie>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Filmes</h1>

@foreach (var item in Model) {
    <div class="item-movie-list clear-fix">
        <span>
            <h2>@Html.DisplayFor(modelItem => item.title)</h2>            
        </span>
        <img src="@item.poster_path" class="image-movie-list" />
        <div class="description-movie-list">
            <a href="" >Adicionar na minha lista</a>

            @Html.LabelFor(modelItem => item.release_date)
            @{
                var date = item.release_date.ToShortDateString();             
                @Html.DisplayFor(modelItem => date)
            }

            @Html.LabelFor(modelItem => item.original_language)
            @Html.DisplayFor(modelItem => item.original_language)

            @Html.LabelFor(modelItem => item.original_title)
            @Html.DisplayFor(modelItem => item.original_title)

            @Html.LabelFor(modelItem => item.genres)
            @{    
                var generos = String.Join(", ", item.genres.Select(x => x.name));   
                @Html.DisplayFor(modelItem => generos)
            }

            @Html.LabelFor(modelItem => item.adult)
            @{
                var adult = Pipocao.Helper.ValueConverter.boolToYesOrNo(item.adult);             
                @Html.DisplayFor(modelItem => adult)
            }
            
            @Html.LabelFor(modelItem => item.overview)
            @Html.DisplayFor(modelItem => item.overview)
            
            @Html.LabelFor(modelItem => item.video)
            @{
                var video = Pipocao.Helper.ValueConverter.boolToYesOrNo(item.video);             
                @Html.DisplayFor(modelItem => video)
            }

            <input type="button" value="Detalhes" class="float-right" onclick="location.href='@Url.Action("Detail", new { id = item.id })'" />
        </div>
    </div>
}
